<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="navi" >

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find letgo_bot)/xacro/bringup/materials.xacro" />

  <xacro:include filename="$(find letgo_bot)/xacro/robot/navi/navi_mini.xacro"/>

  <!-- Laser -->
  <xacro:include filename="$(find letgo_bot)/xacro/laser/hokuyo.xacro"/>
  <xacro:laser name="front_laser" parent="base_link" xyz="0.125 0 0.1" rpy="0 0 0" meshes="package://letgo_bot/meshes/laser"/>

  <!-- FishEye Camera -->
  <xacro:include filename="$(find letgo_bot)/xacro/camera/cameraFisheye.xacro"/>
  <xacro:camF name="cameraFishEye" parent="base_link" xyz="0.21 0 0.5" rpy="0 0 0" />

</robot>
