<launch>
  <arg name="robot_name" default="navi" />
  <arg name="robot_namespace" default="/navi"/>
  <arg name="paused" default="true" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="debug" default="true" />

  <include file="$(find letgo_bot)/launch/world.launch" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find letgo_bot)/xacro/bringup/bringup_navi.xacro'" />
  <node name="spawn_navi_model" pkg="gazebo_ros" type="spawn_model" args="-x -1.5
            -y 0.0
            -z 0.1
            -Y 0.0
            -unpause
            -urdf
            -param robot_description
            -model $(arg robot_name)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="publish_frequency" type="double" value="30.0"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find letgo_bot)/launch/navi.rviz" />
</launch>
